body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  background-image: url("https://imgs.search.brave.com/HjRZek8rX2y38058chQzHqrvbXb0zv_GYpQQQc7wbig/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMud2FsbHBhcGVy/c2Rlbi5jb20vaW1h/Z2UvZG93bmxvYWQv/YXJ0aXN0aWMtY29s/b3JmdWwtd2ViX2JH/Vm9iV21VbVpxYXJh/V2twSlJuYW10bHJX/WnJaV1UuanBn");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 1rem auto;
  background-color: darkorange;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
